# ---------------- ENV ----------------
.env

# ---------------- PYTHON ----------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------- VENV ----------------
venv/
.env/
.venv/

# ---------------- ML MODELS ----------------
heart_model.pkl

# ---------------- OS ----------------
.DS_Store
Thumbs.db

# ---------------- LOGS ----------------
*.log

# ---------------- IDE ----------------
.vscode/
.idea/

# ---------------- JUPYTER ----------------
.ipynb_checkpoints/
